.chatRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
}
.chatRow:hover {
  opacity: 0.8;
}
.chatRow__avatar {
  height: 35px !important;
  width: 35px !important;
}

.chatRow__readIcon {
  color: #ed3b55;
}

.chatRow__info {
  flex: 1;
  padding-left: 5px;
}

.chatRow__info > h4 {
  font-size: 11px;
  font-weight: 500;
}

.chatRow__info > p {
  font-size: 9px;
}
